<header>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/static/imgs/logo-onyx.png" alt="ONYX CUSTOM APPAREL"></a>
            </div>
            <div class="top-conts">
                <a href="#">
                    <div class="circ-ic">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </div>
                </a>
                <a href="#">
                    <div class="circ-ic">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </div>
                </a>
                <a href="#">
                    <div class="circ-ic">
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li>
                            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apparel <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% set data = cms.apparelgroups %}
                                {% set data = data|sort('name') %}
                                {% for object in data %}
                                    <li><a href="{{ url(object) }}">{{ object.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="{{ url(cms.aboutus) }}">{{ cms.aboutus.name }}</a></li>
                        <li><a href="{{ url(cms.gallery) }}">{{ cms.gallery.name }}</a></li>
                        <li><a href="{{ url(cms.testimonial) }}">{{ cms.testimonial.name }}</a></li>
                        <li><a href="{{ url(cms.contactus) }}">{{ cms.contactus.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
