{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH apparelgroups #}
{# This page can use any data from http:localhost:2000/cms/#/form/apparelgroups/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page 
    . It will append this apparelgroups's name to the site title defined in base.html #}
    {% block title %}{% parent %} - {{ item.name }}{% endblock %}
    {% block content %}

    <!-- Main Content Area -->
    <div class="container">

        <div class="col-lg-8 apprl">
            <!-- Left Column -->
            <h1>Browse Kit</h1>
            <p>Please use the display area below to browse the latest {{item.name}} Kits. For more information, please <a href="{{url(cms.contactus)}}">contact us</a>.</p>

            <!-- Mini Carousel Area -->

            <div id="boxes">

                {% for image in item.gallery %}
                <div>
                    <!-- panel #1 -->
                    <img src="{{ image.url}}" alt="{{image.caption}}" />
                    <h2>{{image.caption}}</h2>
                </div>
                {% endfor %}


            </div><!-- /.carousel -->

            <hr>

            <h1>{{item.name}}</h1>
            {{item.description|safe}}
        </div><!-- /.col-lg-8 -->

        <!-- Right Column -->
        <div class="col-lg-4 apprl">
            {% include "templates/partials/features.html" %}
            <hr>
            <h3>Request a Quote</h3>
            {% include "templates/partials/contact.html" %}
        </div><!-- /.col-lg-4 -->

    </div>
    <div class="container marketing">
    </div><!-- /.container -->
    {% endblock %}
