{# ------------------------------------------------------- #}
{# ONE OFF VIEW aboutus #}
{# This page can use any data from http:localhost:2000/cms/#/form/aboutus/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page title. It will append this aboutus's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.aboutus.name }}{% endblock %}
{% block content %}


<div class="container">

    <div class="col-lg-8 apprl">
        <!-- Left Column -->
        <h1>{{ cms.aboutus.name }}</h1>
        {{ cms.aboutus.body|safe }}


    </div><!-- /.col-lg-8 -->

    <!-- Right Column -->
    <div class="col-lg-4 apprl">
        {% include "templates/partials/features.html" %}
        <hr>
        <h3>Contact Us</h3>
        {% include "templates/partials/contact.html" %}
    </div><!-- /.col-lg-4 -->

</div>

{% endblock %}
