{# ------------------------------------------------------- #}
{# ONE OFF VIEW gallery #}
{# This page can use any data from http:localhost:2000/cms/#/form/gallery/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page
    . It will append this gallery's name to the site title defined in base.html #}
    {% block title %}{% parent %} - {{ cms.gallery.name }}{% endblock %}
    {% block content %}

    <div class="container">

        <div class="col-lg-8 apprl">
            <!-- Left Column -->
            <h1>{{ cms.gallery.name }}</h1>

            <!-- Gallery to be added here, can be repeated down the page -->
            {% for row in cms.gallery.galleries %}
        <h3>{{row.name}}</h3>
        <p>{{row.description}}</p>
            <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
                <!-- The container for the modal slides -->
                <div class="slides"></div>
                <!-- Controls for the borderless lightbox -->
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary pull-left prev">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                    Previous
                                </button>
                                <button type="button" class="btn btn-primary next">
                                    Next
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="{{ cms.gallery.name }}">
                {% for image in row.gallery %}
                <a href="{{ image.url }}" title="{{ image.caption }}" data-gallery>
                    <img src="{{ image|imageSize(100, 100) }}" alt="{{ image.caption }}">
                </a>
                {% endfor %}
            </div>
            {% endfor %}

        </div><!-- /.col-lg-8 -->
        <!-- Right Column -->
        <div class="col-lg-4 apprl">
            {% include "templates/partials/features.html" %}
            <hr>
            <h3>Contact Us</h3>
            {% include "templates/partials/contact.html" %}
        </div><!-- /.col-lg-4 -->

    </div>
   
    {% endblock %}
