{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: this is a change #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page title
    . It will append "- Homepage" to the site title defined in base. #}
    {% block title %}{% parent %} {% endblock %}

{% block body_attributes %}data-search-index="false"{% endblock %}

    {% block content %}

<!-- Carousel
================================================== -->
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for row in cms.home.featured_items %}
            {% if loop.first %}
            <li data-target="#myCarousel" data-slide-to="{{loop.index}}" class="active"></li>
            {% else %}
            <li data-target="#myCarousel" data-slide-to="{{loop.index}}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for row in cms.home.featured_items %}
            {% if loop.first %}
            <div class="item active">
                <a href="{{row.link}}"><img src="{{ row.image|imageCrop(1140, 400)  }}" alt="{{ row.title }}" /></a>
                <div class="container">
                    <a href="{{row.link}}"><div class="carousel-caption">{{ row.title }}</div></a>
                </div>
            </div>
            {% else %}
            <div class="item">
                <a href="{{row.link}}"><img src="{{ row.image|imageCrop(1140, 400) }}" alt="{{ row.title }}" /></a>
                <div class="container">
                    <a href="{{row.link}}"><div class="carousel-caption">{{ row.title }}</div></a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- /.carousel -->
<!-- Main Content Are
================================================== -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for row in cms.home.buttons %}
        <div class="col-lg-4 c2a">
            <a href="{{ row.link }}">
                <h1>{{ row.title }}</h1>
            </a>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
    </div><!-- /.row -->
    <hr class="featurette-divider" style="margin: 0 0 40px">

    <h1>{{ cms.home.category_header }}</h1>
    <!-- Four columns of text below the Call to action Buttons -->

    <div class="row">
        {% for relation in cms.home.featured_apparel %}
        <div class="col-lg-3 gear hvr-grow-rotate">
            <a href="{{url(relation)}}">
                <img src="{{relation.featured_image|imageCrop(258, 274)}}" />
                <h2>{{relation.name}}</h2>
            </a>
        </div><!-- /.col-lg-3 -->
        {% endfor %}
    </div><!-- /.row -->
    <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
    {% endblock %}
